header{
justify-content: space-between;
align-items: center;
background-color: red;
display: flex;
}

nav ul {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav li a {
  color: aqua;
  margin:  100px;
  font-size: 20px;
}

